---
import GitHub from '@/components/icons/GitHub.astro'
import NextJS from '@/components/icons/NextJS.astro'
import Tailwind from '@/components/icons/Tailwind.astro'
import Link from '@/components/icons/Link.astro'
import LinkButton from '@/components/LinkButton.astro'
import AwsS3 from '@/components/icons/AwsS3.astro'
import AwsAmplify from '@/components/icons/AwsAmplify.astro'
import AwsEC2 from '@/components/icons/AwsEC2.astro'
import AwsRDS from '@/components/icons/AwsRDS.astro'
import Prisma from '@/components/icons/Prisma.astro'
import Redux from '@/components/icons/Redux.astro'
import ApiGateway from '@/components/icons/ApiGateway.astro'
import NodeJs from '@/components/icons/Nodejs.astro'
import React from '@/components/icons/React.astro'
import Postgresql from '@/components/icons/postgresql.astro'
import Redis from '@/components/icons/Redis.astro'
import Zod from '@/components/icons/Zod.astro'
import Shadcn from '@/components/icons/Shadcn.astro'
import NeonDB from '@/components/icons/NeonDB.astro'
import Upstash from '@/components/icons/Upstash.astro'
import DrizzleORM from '@/components/icons/DrizzleORM.astro'

const { t } = Astro.props
const project = t.project
const information = t.project.information

const TAGS = {
  DRIZZLEORM: {
    name: 'Drizzle ORM',
    class: 'bg-black text-white',
    icon: DrizzleORM,
  },
  UPSTASH: {
    name: 'Upstash',
    class: 'bg-black text-white',
    icon: Upstash,
  },
  ZOD: {
    name: 'Zod',
    class: 'bg-black text-white',
    icon: Zod,
  },
  NEON: {
    name: 'Neon',
    class: 'bg-black text-white',
    icon: NeonDB,
  },
  SHADCN: {
    name: 'Shadcn',
    class: 'bg-black text-white',
    icon: Shadcn,
  },
  REDIS: {
    name: 'Redis',
    class: 'bg-black text-white',
    icon: Redis,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-black text-white',
    icon: Postgresql,
  },
  REACT: {
    name: 'React',
    class: 'bg-black text-white',
    icon: React,
  },
  REDUX: {
    name: 'Redux',
    class: 'bg-black text-white',
    icon: Redux,
  },
  PRISMA: {
    name: 'Prisma',
    class: 'bg-black text-white',
    icon: Prisma,
  },
  NODEJS: {
    name: 'NodeJs',
    class: 'bg-black text-white',
    icon: NodeJs,
  },
  AWS_API_GATEWAY: {
    name: 'API Gateway',
    class: 'bg-black text-white',
    icon: ApiGateway,
  },
  AWS_EC2: {
    name: 'EC2',
    class: 'bg-black text-white',
    icon: AwsEC2,
  },
  AWS_AMPLIFY: {
    name: 'Amplify',
    class: 'bg-black text-white',
    icon: AwsAmplify,
  },
  AWS_RDS: {
    name: 'RDS',
    class: 'bg-black text-white',
    icon: AwsRDS,
  },
  AWS_S3: {
    name: 'S3',
    class: 'bg-black text-white',
    icon: AwsS3,
  },
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: information[0].title,
    description: information[0].description,
    link: information[0].link,
    github: information[0].github,
    image:
      'https://ik.imagekit.io/ozhfnc8l9w/inventory-management.png?updatedAt=1738815950822',
    tags: [
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.REDUX,
      TAGS.TAILWIND,
      TAGS.AWS_EC2,
      TAGS.AWS_RDS,
      TAGS.AWS_S3,
      TAGS.AWS_API_GATEWAY,
      TAGS.AWS_AMPLIFY,
      TAGS.NODEJS,
      TAGS.PRISMA,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: information[1].title,
    description: information[1].description,
    link: information[1].link,
    github: information[1].github,
    image:
      'https://ik.imagekit.io/ozhfnc8l9w/library-management-user.png?updatedAt=1738816171151',
    tags: [
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.ZOD,
      TAGS.TAILWIND,
      TAGS.SHADCN,
      TAGS.UPSTASH,
      TAGS.DRIZZLEORM,
      TAGS.NEON,
      TAGS.REDIS,
      TAGS.POSTGRESQL,
    ],
  },
]
---

<div class="flex flex-col gap-y-16 mx-4">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mx-5">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2 mx-5">
            {tags.map((tag) => (
              <div class="mr-2 mb-2">
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </div>
            ))}

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  {project.code}
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  {project.preview}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
