---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import AboutMe from '@/components/section/about-me/AboutMe.astro'
import Experience from '@/components/section/experience/Experience.astro'
import Hero from '@/components/Hero.astro'
import Education from '@/components/section/education/Education.astro'
import Skills from '@/components/section/skill/Skills.astro'
import Projects from '@/components/section/project/Projects.astro'
import BriefCase from '@/components/icons/BriefCase.astro'
import CodeIcon from '@/components/icons/Code.astro'
import ProfileCheck from '@/components/icons/ProfileCheck.astro'
import Certificate from '@/components/icons/Certificate.astro'
import BrowserCheck from '@/components/icons/BrowserCheck.astro'

import { getStaticPaths, getTranslations } from '@/utils/i18n'
export { getStaticPaths }
const { lang } = Astro.params
const t = getTranslations(lang)
---

<Layout
  title="Porfolio de Calochop :3 - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a calochop :3 para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
  lang={lang}
  t={t}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="inicio">
      <Hero t={t} />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white max-[640px]:justify-center"
      >
        <BriefCase class="size-8" />
        {t.experience.section}
      </h2>
      <Experience t={t} />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white max-[640px]:justify-center"
      >
        <BrowserCheck class="size-7" />
        {t.project.section}
      </h2>
      <Projects t={t} />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white max-[640px]:justify-center"
      >
        <ProfileCheck class="size-8" />
        {t.about.section}
      </h2>
      <AboutMe t={t} />
    </SectionContainer>

    <SectionContainer id="educacion">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white max-[640px]:justify-center"
      >
        <Certificate class="size-7" />
        {t.education.section}
      </h2>
      <Education t={t} />
    </SectionContainer>
    <SectionContainer id="habilidades">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white max-[640px]:justify-center"
      >
        <CodeIcon class="size-7" />
        {t.skill.section}
      </h2>
      <Skills t={t} />
    </SectionContainer>
  </div>
</Layout>
<script>
  if (window.location.pathname === '/') {
    const preferredLanguage = 'es'
    window.location.href = `/${preferredLanguage}`
  }
</script>
